@import 'tailwindcss';

:root {
  --px-page: 1.5rem;
}
@media (min-width: 640px) {
  :root {
    --px-page: 2rem;
  }
}


@theme {

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );

  --breakpoint-xs: 480px;
  --breakpoint-xxs: 320px;
  --breakpoint-page: 1080px;

  --color-foreground-loud: #fff;
  --color-foreground: #c7cbd1;
  --color-background: #15181d;
  --color-muted: #505a69;
  --color-muted-2: #96a2b9;
  --color-accent: #3cb0ca;

  --max-w-page: 1080px;
  --max-w-content: 860px;
  --max-w-content-sm: 720px;

  --px-page-px: var(--px-page);
}

@utility max-w-* {
  max-width: --value(--max-w-*);
}
@utility px-* {
  padding-inline: --value(--px-*);
}
@utility container-* {
  margin-inline: auto;
  max-width: --value(--max-w-*);
  max-width: calc(--value([integer]) * 1px)
}
@utility offset-x-* {
  margin-inline: calc(--value(number) * -0.25rem);
  padding-inline: calc(--value(number) * 0.25rem)
}
@custom-variant pointer-fine (@media(pointer: fine));

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  a {
    cursor: pointer;
  }
}

.lamp-gradient {
  background: var(--lamp-gradient-value, conic-gradient(
    from 0.25turn at 80% 25%,
    #a8e0ed, 1deg, #41dcff11, 280deg, #16181D00
  ));
}
.circle-mask {
  mask-image: radial-gradient(
    50% 50%,
    #000 0%,
    #000 50%,
    #0000 100%
  )
}
.center-x{
  left: 50%;
  transform: translateX(-50%);
}

.background-art{
  position: absolute;
  pointer-events: none;
  left: 50%;
  @apply -translate-x-1/2
}

.hero-gradient {
  background: radial-gradient(50% 50% at 50% 50%, #a3d3ff12, rgba(255, 255, 255, 0));
}

.reactify-filter{
  filter: contrast(1.1) brightness(0.8) sepia() hue-rotate(170deg)
 }

.group:hover .reactify-filter{
  filter: contrast(1) brightness(1)
 }

.indonesia-mask {
  mask-image:radial-gradient(
    circle,
    #f00f 0%,
    #f00f 50%,
    #f002 95%
  );
 }

@keyframes ping-bigger {
  75%, 100% {
    transform: scale(14);
    opacity: 0;
  }
}
.animate-ping-bigger {
  animation: ping-bigger 4s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.location-dot-label {
  opacity: 0;
  transform: translateX(-50%) rotateX(0deg)
}

.peer:hover ~ .location-dot-label {
  opacity: 1;
  transform: translateX(-50%) rotateX(-40deg)
}

.animate-dash-offset {
  stroke-dashoffset: 0;
  stroke-dasharray: 0.1;
  animation: dash-offset 2s linear infinite;
}
@keyframes dash-offset {
  to {
    stroke-dashoffset: 1;
  }
}
